public/data/projects.json
[{
    "id": 1,
    "name": "Test Project 1",
    "flows": [{
        "type": "tab",
        "id": "b381bf54.4c7e4",
        "label": "Sheet 1"
    }, {
        "id": "87710580.788ef8",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 62.5,
        "y": 110,
        "z": "b381bf54.4c7e4",
        "wires": [
            ["8a630538.759cf8"]
        ]
    }, {
        "id": "49f0ad6e.b60f54",
        "type": "mqtt in",
        "name": "",
        "topic": "",
        "x": 68,
        "y": 216,
        "z": "b381bf54.4c7e4",
        "wires": [
            ["8a630538.759cf8"]
        ]
    }, {
        "id": "8a630538.759cf8",
        "type": "function",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "valid": true,
        "x": 239,
        "y": 159,
        "z": "b381bf54.4c7e4",
        "wires": [
            ["9ce105cd.631ef8"]
        ]
    }, {
        "id": "9ce105cd.631ef8",
        "type": "irc out",
        "name": "",
        "sendObject": "pay",
        "channel": "",
        "x": 389,
        "y": 159,
        "z": "b381bf54.4c7e4",
        "wires": []
    }, {
        "id": "41454441.bebabc",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115,
        "y": 372,
        "z": "b381bf54.4c7e4",
        "wires": [
            ["15fdaa70.ea0256"]
        ]
    }, {
        "id": "15fdaa70.ea0256",
        "type": "serial out",
        "x": 368,
        "y": 376,
        "z": "b381bf54.4c7e4",
        "wires": []
    }]
}]
